<!doctype html>
{% load static %}
<html>
<head>
    <title>MyWallet - Login</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>

    <script type="text/javascript" src="{% static 'js/vendor/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/placeholder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/fastclick.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>

</head>
<body>
<div class="div-center">
    <fieldset>
        <legend>Sign In</legend>
        <div class="row">
            <form data-abide method="POST">
                {% csrf_token %}
                <div class="login-field">
                    <label>Login
                        <small>required</small>
                        {{ form.username }}
                    </label>
                    <small class="error">Login is required.</small>
                </div>
                <div class="password-field">
                    <label for="password">Password
                        <small>required</small>
                        {{ form.password }}
                    </label>
                    <small class="error">Password is required.</small>
                </div>
                <a href="{% url 'accounts:signup' %}">Sign Up</a>
                <hr/>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </fieldset>

    <br/><br/>

    <div id="footer">
        <center><p style="font-size: 10px;">Developed by <a
                href="https://github.com/marquesds" target="blank">Lucas Marques</a></p>
        </center>
    </div>

</div>

<script>
	$(document).foundation();
</script>
</body>
</html>