<!doctype html>
{% load static %}
<html>
<head>
    <title>My Wallet - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <script type="text/javascript" src="{% static 'js/vendor/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/placeholder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/fastclick.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
</head>
<body>
<div class="page">
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title"><a href="{% url 'core:home' %}"><img src="{% static 'img/wallet.png' %}" class="home-image"> My Wallet</a></h1>
                </section>
            </nav>

            <aside class="left-off-canvas-menu">
                <form data-abide method='POST'>
                    {% csrf_token %}
                    <ul class="off-canvas-list">
                        <li><label>My Wallet</label></li>
                        <li><a href="{% url 'core:home' %}">Home</a></li>
                        <li><a href="{% url 'core:about' %}">About</a></li>
                        <li><a href="{% url 'core:contact' %}">Contact</a></li>
                        <li><a href="{% url 'core:donate' %}">Donate</a></li>
                        <li><label>System</label></li>
                        <li><a href="{% url 'accounts:preferences' %}">Preferences</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                    </ul>
                </form>
            </aside>

            {% block content %}{% endblock %}

            <div id="footer">
                <center><p style="font-size: 10px;">Developed by <a
                        href="https://github.com/marquesds" target="blank">Lucas Marques</a></p>
                </center>
            </div>
        <a class="exit-off-canvas"></a>
        </div>
    </div>
</div>
<script>
	$(document).foundation();

</script>
</body>
</html>