{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="main-section">
    <br/>
    {% if user.is_authenticated %}
    <small class="welcome">Welcome, <a href="{% url 'accounts:preferences' %}">{{ user.name }}</a>!</small>
    {% endif %}
    <div class="row">
        <div class="large-12 columns">
            <br/><br/><br/>
            <a href="#" class="button small radius round" data-reveal-id="myModal">Add</a>
            <table>
                <thead>
                <tr>
                    <th width="250">Name</th>
                    <th width="250">Type</th>
                    <th width="250">Date</th>
                    <th width="250">Value</th>
                </tr>
                </thead>
                <tbody>
                {% for bill in bills %}
                <tr>
                    <td>{{ bill.name }}</td>
                    <td>{{ bill.bill_type }}</td>
                    <td>{{ bill.created_at }}</td>
                    <td class="{% if bill.bill_type == 'revenue' %}revenue{% elif bill.bill_type == 'expense' %}expense{% endif %}">
                        ${{ bill.value }}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>----------</td>
                    <td>----------</td>
                    <td>----------</td>
                    <td>----------</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination-centered">
                <ul class="pagination">
                    {% if bills.has_previous %}
                      <li><a href="?page={{ bills.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><a href="#">&laquo;</a></li>
                    {% endif %}

                    {% for num in bills.paginator.page_range %}
                        {% ifequal num bills.number %}
                            <li class="current"><a href="">{{ num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endifequal %}
                    {% endfor %}

                    {% if bills.has_next %}
                      <li><a href="?page={{ bills.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><a href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
            <small>Total: <b class="{% if total > 0 %}revenue{% elif total < 0 %}expense{% endif %}">${{ total }}</b>
            </small>
            <hr/>
        </div>
    </div>
</section>
<div id="myModal" class="reveal-modal" data-reveal>
    <h2>Add new entry</h2>
    <fieldset>
        <form action="/bill/{{ user.id }}/" data-abide method="POST">
            {% csrf_token %}
            <div class="name-field">
                <label for="id_name">Name
                    <small>required</small>
                    {{ form.name }}
                </label>
                <small class="error">Name is required and must be a string.</small>
            </div>
            <div class="row collapse">
                <label for="id_bill_type">Type
                    <small>required</small>
                    {{ form.bill_type }}
                </label>
                <small class="error">Type is required.</small>
            </div>
            <br/>

            <div class="row">
                <div class="number-field large-3">
                    <label for="id_value">Value ($)
                        <small>required</small>
                        {{ form.value }}
                    </label>
                    <small class="error">Value is required.</small>
                </div>
            </div>
            <hr/>
            <button type="submit">Submit</button>
        </form>
    </fieldset>
    <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}